<li>
  <%= comment.content %>
  <%= link_to "link to #{comment.content}",comment_url(comment) %>
  <%= comment.author.username %><%= comment.created_at %>
</li>
<ul>
  <% all_comments[comment.id].each do |child_comment| %>
    <%= render "comments/comment", 
                comment: child_comment, 
                all_comments: all_comments %>
    <% end %>
</ul>
