<h1>Post <%= @post.title %> By: <%= @post.author.username %> </h1>
<% if current_user == @post.author %>
  <%= link_to('Edit Post', edit_post_url)%>
<% end %>
<br>


<h2>All subs this post can be found in</h2>
<% if @subs %>
  <ul>
    <% @subs.each do |sub| %>
      <li><%= link_to sub.title, sub_url(sub) %></li>
    <% end %>
  </ul>
<% end %>

<h2>All the comments</h2>
<% if @all_comments.length > 0 %>
  <ul>
    <% @all_comments[nil].each do |comment|%>
      <%= render "comments/comment", 
                  all_comments: @all_comments, 
                  comment: comment %>
    <% end %>
  </ul>
<% end %>
<% if current_user %>
  <%= link_to "Create new comment", new_post_comment_url(@post) %>
<% end %>
<br>
<%= link_to "Back to all subs", subs_url %>